.item-measures {
  width: 192px;
  height: 160px;
  min-width: 192px;
  min-height: 160px;
}

@media (min-width: 768px) {
  .item-measures {
    width: 224px;
    height: 224px;
    min-width: 224px;
    min-height: 224px;
  }
}

@media (min-width: 1024px) {
  .item-measures {
    width: 256px;
    height: 336px;
    min-width: 256px;
    min-height: 336px;
  }
}

@media (min-width: 1440px) {
  .carrousel-wrapper {
    @apply justify-center
  }
}
