:root {
  --primary: #0066CC;
  --primary-opaque: #0066cc0a;

  --red: #DA1737;
  --red-opaque: #da173825;

  --white: #FFFFFF;
  --white-opaque: #FFFFFF15;
  --gray05: #EDEDED;
  --gray1: #DADADA;
  --gray2: #AFB3B8;
  --gray3: #717274;
  --gray3-opaque: #71727433;
  --black: #1C1C1E;
  --black-opaque: #1c1c1e52;


  --font-merriweather: 'Merriweather', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input, textarea {
  outline: 0;
}

html {
  box-sizing: border-box;
  touch-action: manipulation;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--accent-0);
}

html,
body {
  font-family: var(--font-inter) !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-x: none;
  position: relative;

  color: var(--accent-6);
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: var(--font-poppins);
  color: var(--accent-6);
}


body::-webkit-scrollbar {
  display: none;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.max-width {
  @apply px-6 md:px-16
}

@media (min-width: 1440px) {
  .max-width {
    width: 1440px;
    @apply px-0 mx-auto
  }
}
